<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="600 seconds" debug="false">
	<contextName>sparrow</contextName>
	<property name="APP_NAME" value="sparrow"/>
	<property name="LOG_HOME" value="./logs"/>

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p [%15.-15thread] %-36.36c : %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${APP_NAME}.log</file>
		<!-- 定义日志滚动的策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd.HH}.log.gz</fileNamePattern>
			<maxHistory>20</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p [${APP_NAME}] [%thread] %c{0} %m%n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
